:root {
  --ltGray: #d5d5d5;
  --translucentBgDker: rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--translucentBgDker);
  color: var(--ltGray);
}

.icon {
  max-width: 25px;
  margin-top: 1em;
}