:root {
  --headerFont: 'Fredericka the Great', cursive;
  --bodyFont: 'Open Sans', sans-serif;
  --dkBlue: #00008b;
  --ltBlue: #c7dbf3;
  --translucentBgDk: rgba(0, 0, 0, 0.2);
  --translucentBgDker: rgba(0, 0, 0, 0.5);
  --translucentBgLt: rgba(255, 255, 255, 0.25);
}

body {
  background-image: url("../../pix/meeker-n-longs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: var(--dkBlue);
}

h1 {
  font-size: 42px;
  font-family: var(--headerFont);
}

h2 {
  font-size: 36px;
  font-family: var(--headerFont);
}

h3 {
  font-size: 24px;
  font-family: var(--headerFont);
}

li {
  font-size: 16px;
  font-family: var(--bodyFont);
}

p {
  font-size: 16px;
  font-family: var(--bodyFont);
}

.choralepic {
  border-radius: 10%;
}

.mypic {
  border-radius: 50%;
}

.mypic,
.choralepic {
  max-width: 300px;
  padding-right: 1.25em;
}

.caption {
  font-size: 12px;
  font-family: var(--bodyFont);
}

.flexCenter {
  justify-content: center;
}

.gitAlign {
  justify-content: flex-end;
  height: 2.5em;
}

.flexCenter,
.gitAlign {
  display: flex;
  align-items: center;
}

.icon {
  max-width: 50px;
  margin-bottom: 2em;
}

.iconBig {
  max-width: 75px;
  max-height: 75px;
  margin: 1em;
}

.darkBg {
  background: var(--translucentBgDk);
  border-radius: 10px;
}

.darkerBg {
  background: var(--translucentBgDker);
  border-radius: 7px;
}

.ltBg {
  background: var(--translucentBgLt);
  border-radius: 10px;
}

.outline {
  text-shadow: -1px 1px 1px var(--ltBlue), 1px 1px 1px var(--ltBlue), 1px -1px 1px var(--ltBlue), -1px -1px 1px var(--ltBlue);
}

.topMargin {
  margin-top: 2.5em;
}