body {
  background-image: url("../../pix/meeker-n-longs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 42px;
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-size: 36px;
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-size: 24px;
  font-family: 'Fredericka the Great', cursive;
}

p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

li {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: darkblue;
}

.mypic {
  max-width: 300px;
  padding-right: 1.25em;
}

.icon {
  max-width: 50px;
  margin-bottom: 2em;
}

.caption {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.gitAlign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2.5em;
}