.texts {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  color: #031105;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  background-position: 30% 20%;
  height: 100%;
  width: 100%;
  display: inline-block;
  font-size: 4em;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  position: relative;
  top: 50%;
  transform: translateY(250%);
}
