html, body {
  height: 100%;
}

body {
  font-family: 'Raleway';
  text-align: center;
  color: #ffffff;
}

.hero {
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/meeker-n-longs.jpg") no-repeat;
  background-size: cover;
  background-position: 30% 20%;
  height: 100%;
  width: 100%;
}

.hero-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
}

.text {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  color: #ffffff;
}