.navbar {
  background-color: black;
  width: 100%;
  font-size: 16px;
  opacity: 0.5;
}

.navlink {
  padding: 1em;
  color: #d5d5d5;
}

.navlink:visited {
  color: #c5c5c5;
}

.mylogo { 
  color: #d5d5d5;
  font-size: 24px;
}

.mylogo:visited {
  color: #c5c5c5;
}