:root {
  --headerFont: 'Fredericka the Great', cursive;
  --ltGray: #d5d5d5;
  --medGray: #c5c5c5;
  --translucentBgDker: rgba(0, 0, 0, 0.5);
}

.navbar {
  background: var(--translucentBgDker);
  width: 100%;
  font-size: 16px;
}

.navlink {
  padding: 1em;
  color: var(--ltGray);
  font-family: var(--headerFont);
}

.navlink:visited {
  color: var(--medGray);
}

.mylogo { 
  color: var(--ltGray);
  font-size: 24px;
  font-family: var(--headerFont);
}

.mylogo:visited {
  color: var(--medGray);
}