h2 {
  font-size: 30px;
  font-weight: lighter;
}

p {
  font-size: 14px;
}

.project-card {
  background-color: rgba(0, 0, 0, 0.5);
  align-self: center;
  margin: 15px;
  width: 350px;
  height: 500px;
  perspective: 1000px; 
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  display: inline-table;
  font-family: 'Open Sans', sans-serif;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform-origin: center left;
  transition: transform 1s ease-out;
}

.card-title {
  justify-self: center;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 5px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* translateZ sets the title to perspective*/
  transform: translateZ(2rem);
}

.card-back {
  transform: rotateY(.5turn);
  background: #031105;
  color: #d5d5d5;
  margin: 0 auto;
}

.bgImage {
  width: 97%;
}

.btn {
  background-color: #d5d5d5;
  color: #031105;
  border: 3px solid #031105;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.btn:hover {
  color: #a5a5a5;
  background-color: #031105;
  border: 3px solid #a5a5a5;
}

.btn:visited {
  background-color: #d5d5d5;
  color: #031105;
  border: 3px solid #031105;
}